/* Figma Styles of your File */
:root {
  /* Colors */
  --black: #050505;
  --electric-lime: #ccff00;
  --electric-lime-10: rgba(204, 255, 0, 0.1);
  --electric-lime-30: rgba(204, 255, 0, 0.3);
  --iron: #d4d4d8;
  --jumbo: #71717a;
  --lime: #a2ff00;
  --lime-30: rgba(162, 255, 0, 0.3);
  --lime-6: rgba(162, 255, 0, 0.06);
  --madras: #283500;
  --mine-shaft: #201f1f;
  --polar: #f0f6fc;
  --polar-6: rgba(240, 246, 252, 0.06);
  --regent-gray: #8b949e;
  --santas-gray: #a1a1aa;
  --scarpa-flow: #52525b;
  --torch-red: #ff0055;
  --trout: #484f58;
  --white-black: linear-gradient(to left, #050505, #050505),
    linear-gradient(to left, #ffffff, #ffffff);
  --white-bunker: linear-gradient(to left, #0d1117, #0d1117),
    linear-gradient(to left, #ffffff, #ffffff);
  --woodsmoke: #09090b;
  --woodsmoke: #18181b;
  --woodsmoke-70: rgba(9, 9, 11, 0.7);
  --wwwbehancenet-alabaster: #f9f9f9;
  --wwwbehancenet-alabaster: #f9f9f9;
  --wwwbehancenet-big-stone: #0c3645;
  --wwwbehancenet-black: #000000;
  --wwwbehancenet-black-0: rgba(0, 0, 0, 0);
  --wwwbehancenet-black-15: rgba(0, 0, 0, 0.15);
  --wwwbehancenet-black-60: rgba(0, 0, 0, 0.6);
  --wwwbehancenet-black-70: rgba(0, 0, 0, 0.7);
  --wwwbehancenet-blue-ribbon: #0088fd;
  --wwwbehancenet-castro: #49021f;
  --wwwbehancenet-christi: #65a814;
  --wwwbehancenet-cobalt: #003ecb;
  --wwwbehancenet-cod-gray: #191919;
  --wwwbehancenet-cod-gray-65: rgba(25, 25, 25, 0.65);
  --wwwbehancenet-cod-gray-80: rgba(25, 25, 25, 0.8);
  --wwwbehancenet-cod-gray-80: rgba(23, 23, 23, 0.8);
  --wwwbehancenet-dove-gray: #707070;
  --wwwbehancenet-dove-gray: #696969;
  --wwwbehancenet-dusty-gray: #959595;
  --wwwbehancenet-elephant: #0c3645;
  --wwwbehancenet-mercury: #e8e8e8;
  --wwwbehancenet-midnight: #001e36;
  --wwwbehancenet-mine-shaft: #232323;
  --wwwbehancenet-mine-shaft: #3c3c3c;
  --wwwbehancenet-seashell: #f1f1f1;
  --wwwbehancenet-silver: #cccccc;
  --wwwbehancenet-silver-chalice: #afafaf;
  --wwwbehancenet-stratos: #00005b;
  --wwwbehancenet-swamp: #001d26;
  --wwwbehancenet-temptress: #330000;
  --wwwbehancenet-gallery: #f0f0f0;
  --wwwbehancenet-gallery: #ececec;
  --wwwbehancenet-gallery: #ececec;
  --wwwbehancenet-gray: #909090;
  --wwwbehancenet-iron: #d2d3d7;
  --wwwbehancenet-torch-red: #ff0033;
  --wwwbehancenet-white: #ffffff;
  --wwwbehancenet-white-02: rgba(255, 255, 255, 0);
  --wwwbehancenet-wild-sand: #f7f7f7;
  --cyan-aqua: #00f0ff;
  --primary-primary-50: #fbfcff;
  --primary-primary-100: #f0f4fd;
  --primary-primary-200: #dee6fb;
  --primary-primary-300: #c5d2f7;
  --primary-primary-400: #a4b9f3;
  --primary-primary-500: #7c9aed;
  --primary-primary-600: #4c75e7;
  --primary-primary-700: #1d4fd7;
  --primary-primary-800: #102c79;
  --primary-primary-900: #091740;
  --primary-primary-950: #06102d;
  --gray-gray-50: #fcfcfd;
  --gray-gray-100: #f1f3f6;
  --gray-gray-200: #e0e4ea;
  --gray-gray-300: #c8ced9;
  --gray-gray-400: #a8b3c4;
  --gray-gray-500: #8292aa;
  --gray-gray-600: #5b6b86;
  --gray-gray-800: #242b35;
  --gray-gray-900: #191d24;
  --gray-gray-950: #15181e;
  --gray-gray-700: #384252;

  /* Fonts */
  --wwwbehancenet-acumin-pro-black-font-family: Outfit-Black, sans-serif;
  --wwwbehancenet-acumin-pro-black-font-size: 15px;
  --wwwbehancenet-acumin-pro-black-line-height: 19.5px;
  --wwwbehancenet-acumin-pro-black-font-weight: 900;
  --wwwbehancenet-acumin-pro-black-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 10px;
  --wwwbehancenet-acumin-pro-bold-line-height: 13px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 11px;
  --wwwbehancenet-acumin-pro-bold-line-height: 14.3px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 11px;
  --wwwbehancenet-acumin-pro-bold-line-height: 11px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 11.800000190734863px;
  --wwwbehancenet-acumin-pro-bold-line-height: 12px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 12px;
  --wwwbehancenet-acumin-pro-bold-line-height: 15.6px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 12.899999618530273px;
  --wwwbehancenet-acumin-pro-bold-line-height: 16.9px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 13px;
  --wwwbehancenet-acumin-pro-bold-line-height: 16.9px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 13.800000190734863px;
  --wwwbehancenet-acumin-pro-bold-line-height: 18.2px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 13.800000190734863px;
  --wwwbehancenet-acumin-pro-bold-line-height: 18px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 13.800000190734863px;
  --wwwbehancenet-acumin-pro-bold-line-height: 14px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 13.899999618530273px;
  --wwwbehancenet-acumin-pro-bold-line-height: 18.2px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 13.899999618530273px;
  --wwwbehancenet-acumin-pro-bold-line-height: 14px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 15.800000190734863px;
  --wwwbehancenet-acumin-pro-bold-line-height: 15px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 15.800000190734863px;
  --wwwbehancenet-acumin-pro-bold-line-height: 20.8px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 15.899999618530273px;
  --wwwbehancenet-acumin-pro-bold-line-height: 15px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 15.899999618530273px;
  --wwwbehancenet-acumin-pro-bold-line-height: 20.8px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 16px;
  --wwwbehancenet-acumin-pro-bold-line-height: 16px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 16px;
  --wwwbehancenet-acumin-pro-bold-line-height: 19.2px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 24px;
  --wwwbehancenet-acumin-pro-bold-line-height: 28.8px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 25px;
  --wwwbehancenet-acumin-pro-bold-line-height: 30px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-underline-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-underline-font-size: 13px;
  --wwwbehancenet-acumin-pro-bold-underline-line-height: 16.9px;
  --wwwbehancenet-acumin-pro-bold-underline-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-underline-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-underline-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-underline-font-size: 15.899999618530273px;
  --wwwbehancenet-acumin-pro-bold-underline-line-height: 15px;
  --wwwbehancenet-acumin-pro-bold-underline-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-underline-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-font-size: 16px;
  --wwwbehancenet-acumin-pro-bold-line-height: 20.8px;
  --wwwbehancenet-acumin-pro-bold-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-underline-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-underline-font-size: 16px;
  --wwwbehancenet-acumin-pro-bold-underline-line-height: 16px;
  --wwwbehancenet-acumin-pro-bold-underline-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-underline-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-upper-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-upper-font-size: 11px;
  --wwwbehancenet-acumin-pro-bold-upper-line-height: 14.3px;
  --wwwbehancenet-acumin-pro-bold-upper-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-upper-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-upper-font-family: Outfit-Bold, sans-serif;
  --wwwbehancenet-acumin-pro-bold-upper-font-size: 11px;
  --wwwbehancenet-acumin-pro-bold-upper-line-height: 11px;
  --wwwbehancenet-acumin-pro-bold-upper-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-upper-font-style: normal;
  --wwwbehancenet-acumin-pro-bold-underline-upper-font-family: Outfit-Bold,
    sans-serif;
  --wwwbehancenet-acumin-pro-bold-underline-upper-font-size: 11px;
  --wwwbehancenet-acumin-pro-bold-underline-upper-line-height: 14.3px;
  --wwwbehancenet-acumin-pro-bold-underline-upper-font-weight: 700;
  --wwwbehancenet-acumin-pro-bold-underline-upper-font-style: normal;
  --wwwbehancenet-acumin-pro-regular-font-family: Outfit-Regular, sans-serif;
  --wwwbehancenet-acumin-pro-regular-font-size: 12px;
  --wwwbehancenet-acumin-pro-regular-line-height: 15.6px;
  --wwwbehancenet-acumin-pro-regular-font-weight: 400;
  --wwwbehancenet-acumin-pro-regular-font-style: normal;
  --wwwbehancenet-acumin-pro-regular-font-family: Outfit-Regular, sans-serif;
  --wwwbehancenet-acumin-pro-regular-font-size: 14px;
  --wwwbehancenet-acumin-pro-regular-line-height: 18.2px;
  --wwwbehancenet-acumin-pro-regular-font-weight: 400;
  --wwwbehancenet-acumin-pro-regular-font-style: normal;
  --wwwbehancenet-acumin-pro-regular-font-family: Outfit-Regular, sans-serif;
  --wwwbehancenet-acumin-pro-regular-font-size: 14px;
  --wwwbehancenet-acumin-pro-regular-line-height: 16.8px;
  --wwwbehancenet-acumin-pro-regular-font-weight: 400;
  --wwwbehancenet-acumin-pro-regular-font-style: normal;
  --wwwbehancenet-acumin-pro-regular-font-family: Outfit-Regular, sans-serif;
  --wwwbehancenet-acumin-pro-regular-font-size: 14px;
  --wwwbehancenet-acumin-pro-regular-line-height: 17px;
  --wwwbehancenet-acumin-pro-regular-font-weight: 400;
  --wwwbehancenet-acumin-pro-regular-font-style: normal;
  --wwwbehancenet-acumin-pro-regular-font-family: Outfit-Regular, sans-serif;
  --wwwbehancenet-acumin-pro-regular-font-size: 15px;
  --wwwbehancenet-acumin-pro-regular-line-height: normal;
  --wwwbehancenet-acumin-pro-regular-font-weight: 400;
  --wwwbehancenet-acumin-pro-regular-font-style: normal;
  --wwwbehancenet-acumin-pro-regular-font-family: Outfit-Regular, sans-serif;
  --wwwbehancenet-acumin-pro-regular-font-size: 15px;
  --wwwbehancenet-acumin-pro-regular-line-height: 20px;
  --wwwbehancenet-acumin-pro-regular-font-weight: 400;
  --wwwbehancenet-acumin-pro-regular-font-style: normal;
  --wwwbehancenet-acumin-pro-regular-font-family: Outfit-Regular, sans-serif;
  --wwwbehancenet-acumin-pro-regular-font-size: 16px;
  --wwwbehancenet-acumin-pro-regular-line-height: 0px;
  --wwwbehancenet-acumin-pro-regular-font-weight: 400;
  --wwwbehancenet-acumin-pro-regular-font-style: normal;
  --wwwbehancenet-acumin-pro-regular-underline-font-family: Outfit-Regular,
    sans-serif;
  --wwwbehancenet-acumin-pro-regular-underline-font-size: 15px;
  --wwwbehancenet-acumin-pro-regular-underline-line-height: 20px;
  --wwwbehancenet-acumin-pro-regular-underline-font-weight: 400;
  --wwwbehancenet-acumin-pro-regular-underline-font-style: normal;
  --wwwbehancenet-arial-regular-font-family: Arial-Regular, sans-serif;
  --wwwbehancenet-arial-regular-font-size: 18px;
  --wwwbehancenet-arial-regular-line-height: 23.4px;
  --wwwbehancenet-arial-regular-font-weight: 400;
  --wwwbehancenet-arial-regular-font-style: normal;
  --wwwbehancenet-helvetica-neue-bold-underline-upper-font-family: HelveticaNeue-Bold,
    sans-serif;
  --wwwbehancenet-helvetica-neue-bold-underline-upper-font-size: 11px;
  --wwwbehancenet-helvetica-neue-bold-underline-upper-line-height: 14.3px;
  --wwwbehancenet-helvetica-neue-bold-underline-upper-font-weight: 700;
  --wwwbehancenet-helvetica-neue-bold-underline-upper-font-style: normal;
  --wwwbehancenet-helvetica-neue-bold-upper-font-family: HelveticaNeue-Bold,
    sans-serif;
  --wwwbehancenet-helvetica-neue-bold-upper-font-size: 9px;
  --wwwbehancenet-helvetica-neue-bold-upper-line-height: 18px;
  --wwwbehancenet-helvetica-neue-bold-upper-font-weight: 700;
  --wwwbehancenet-helvetica-neue-bold-upper-font-style: normal;
  --wwwbehancenet-helvetica-neue-bold-upper-font-family: HelveticaNeue-Bold,
    sans-serif;
  --wwwbehancenet-helvetica-neue-bold-upper-font-size: 11px;
  --wwwbehancenet-helvetica-neue-bold-upper-line-height: 14.3px;
  --wwwbehancenet-helvetica-neue-bold-upper-font-weight: 700;
  --wwwbehancenet-helvetica-neue-bold-upper-font-style: normal;
  --wwwbehancenet-helvetica-neue-regular-font-family: HelveticaNeue-Regular,
    sans-serif;
  --wwwbehancenet-helvetica-neue-regular-font-size: 12px;
  --wwwbehancenet-helvetica-neue-regular-line-height: 15.6px;
  --wwwbehancenet-helvetica-neue-regular-font-weight: 400;
  --wwwbehancenet-helvetica-neue-regular-font-style: normal;
  --wwwbehancenet-helvetica-neue-regular-font-family: HelveticaNeue-Regular,
    sans-serif;
  --wwwbehancenet-helvetica-neue-regular-font-size: 13px;
  --wwwbehancenet-helvetica-neue-regular-line-height: 16.9px;
  --wwwbehancenet-helvetica-neue-regular-font-weight: 400;
  --wwwbehancenet-helvetica-neue-regular-font-style: normal;
  --wwwbehancenet-helvetica-neue-regular-font-family: HelveticaNeue-Regular,
    sans-serif;
  --wwwbehancenet-helvetica-neue-regular-font-size: 13px;
  --wwwbehancenet-helvetica-neue-regular-line-height: 13px;
  --wwwbehancenet-helvetica-neue-regular-font-weight: 400;
  --wwwbehancenet-helvetica-neue-regular-font-style: normal;
  --wwwbehancenet-helvetica-neue-regular-font-family: HelveticaNeue-Regular,
    sans-serif;
  --wwwbehancenet-helvetica-neue-regular-font-size: 16px;
  --wwwbehancenet-helvetica-neue-regular-line-height: 20.8px;
  --wwwbehancenet-helvetica-neue-regular-font-weight: 400;
  --wwwbehancenet-helvetica-neue-regular-font-style: normal;
  --wwwbehancenet-helvetica-neue-regular-font-family: HelveticaNeue-Regular,
    sans-serif;
  --wwwbehancenet-helvetica-neue-regular-font-size: 16px;
  --wwwbehancenet-helvetica-neue-regular-line-height: 16px;
  --wwwbehancenet-helvetica-neue-regular-font-weight: 400;
  --wwwbehancenet-helvetica-neue-regular-font-style: normal;
  --wwwbehancenet-helvetica-neue-regular-underline-font-family: HelveticaNeue-Regular,
    sans-serif;
  --wwwbehancenet-helvetica-neue-regular-underline-font-size: 16px;
  --wwwbehancenet-helvetica-neue-regular-underline-line-height: 16px;
  --wwwbehancenet-helvetica-neue-regular-underline-font-weight: 400;
  --wwwbehancenet-helvetica-neue-regular-underline-font-style: normal;
  --wwwbehancenet-helvetica-neue-bold-font-family: HelveticaNeue-Bold,
    sans-serif;
  --wwwbehancenet-helvetica-neue-bold-font-size: 16px;
  --wwwbehancenet-helvetica-neue-bold-line-height: 30px;
  --wwwbehancenet-helvetica-neue-bold-font-weight: 700;
  --wwwbehancenet-helvetica-neue-bold-font-style: normal;
  --wwwbehancenet-roboto-medium-font-family: Roboto-Medium, sans-serif;
  --wwwbehancenet-roboto-medium-font-size: 14px;
  --wwwbehancenet-roboto-medium-line-height: 18.2px;
  --wwwbehancenet-roboto-medium-font-weight: 500;
  --wwwbehancenet-roboto-medium-font-style: normal;
  --wwwbehancenet-roboto-medium-font-family: Roboto-Medium, sans-serif;
  --wwwbehancenet-roboto-medium-font-size: 16px;
  --wwwbehancenet-roboto-medium-line-height: 16px;
  --wwwbehancenet-roboto-medium-font-weight: 500;
  --wwwbehancenet-roboto-medium-font-style: normal;
  --inter-bold-font-family: Inter-Bold, sans-serif;
  --inter-bold-font-size: 24px;
  --inter-bold-line-height: 30px;
  --inter-bold-font-weight: 700;
  --inter-bold-font-style: normal;
  --inter-bold-font-family: Inter-Bold, sans-serif;
  --inter-bold-font-size: 36px;
  --inter-bold-line-height: 40px;
  --inter-bold-font-weight: 700;
  --inter-bold-font-style: normal;
  --inter-bold-upper-font-family: Inter-Bold, sans-serif;
  --inter-bold-upper-font-size: 10px;
  --inter-bold-upper-line-height: 15px;
  --inter-bold-upper-font-weight: 700;
  --inter-bold-upper-font-style: normal;
  --inter-bold-upper-font-family: Inter-Bold, sans-serif;
  --inter-bold-upper-font-size: 12px;
  --inter-bold-upper-line-height: 16px;
  --inter-bold-upper-font-weight: 700;
  --inter-bold-upper-font-style: normal;
  --inter-bold-upper-font-family: Inter-Bold, sans-serif;
  --inter-bold-upper-font-size: 16px;
  --inter-bold-upper-line-height: 24px;
  --inter-bold-upper-font-weight: 700;
  --inter-bold-upper-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 14px;
  --inter-regular-line-height: 22.75px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 14px;
  --inter-regular-line-height: 20px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 16px;
  --inter-regular-line-height: 26px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 16px;
  --inter-regular-line-height: 24px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 18px;
  --inter-regular-line-height: 28px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 24px;
  --inter-regular-line-height: 30px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 36px;
  --inter-regular-line-height: 40px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-upper-font-family: Inter-Regular, sans-serif;
  --inter-regular-upper-font-size: 11.399999618530273px;
  --inter-regular-upper-line-height: 16px;
  --inter-regular-upper-font-weight: 400;
  --inter-regular-upper-font-style: normal;
  --inter-regular-upper-font-family: Inter-Regular, sans-serif;
  --inter-regular-upper-font-size: 11.600000381469727px;
  --inter-regular-upper-line-height: 16px;
  --inter-regular-upper-font-weight: 400;
  --inter-regular-upper-font-style: normal;
  --inter-regular-upper-font-family: Inter-Regular, sans-serif;
  --inter-regular-upper-font-size: 11.800000190734863px;
  --inter-regular-upper-line-height: 16px;
  --inter-regular-upper-font-weight: 400;
  --inter-regular-upper-font-style: normal;
  --inter-regular-upper-font-family: Inter-Regular, sans-serif;
  --inter-regular-upper-font-size: 12px;
  --inter-regular-upper-line-height: 16px;
  --inter-regular-upper-font-weight: 400;
  --inter-regular-upper-font-style: normal;
  --inter-regular-upper-font-family: Inter-Regular, sans-serif;
  --inter-regular-upper-font-size: 20px;
  --inter-regular-upper-line-height: 28px;
  --inter-regular-upper-font-weight: 400;
  --inter-regular-upper-font-style: normal;
  --inter-regular-upper-font-family: Inter-Regular, sans-serif;
  --inter-regular-upper-font-size: 24px;
  --inter-regular-upper-line-height: 32px;
  --inter-regular-upper-font-weight: 400;
  --inter-regular-upper-font-style: normal;
  --space-grotesk-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-font-size: 94.0999984741211px;
  --space-grotesk-bold-line-height: 96px;
  --space-grotesk-bold-font-weight: 700;
  --space-grotesk-bold-font-style: normal;
  --space-grotesk-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-font-size: 94.5px;
  --space-grotesk-bold-line-height: 96px;
  --space-grotesk-bold-font-weight: 700;
  --space-grotesk-bold-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 12px;
  --space-grotesk-bold-upper-line-height: 16px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 14px;
  --space-grotesk-bold-upper-line-height: 20px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 16px;
  --space-grotesk-bold-upper-line-height: 48px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 16px;
  --space-grotesk-bold-upper-line-height: 24px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 16px;
  --space-grotesk-bold-upper-line-height: 24px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 16px;
  --space-grotesk-bold-upper-line-height: 24px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 16px;
  --space-grotesk-bold-upper-line-height: 34px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 19.799999237060547px;
  --space-grotesk-bold-upper-line-height: 28px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 23.799999237060547px;
  --space-grotesk-bold-upper-line-height: 32px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 24px;
  --space-grotesk-bold-upper-line-height: 32px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 35.70000076293945px;
  --space-grotesk-bold-upper-line-height: 40px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 36px;
  --space-grotesk-bold-upper-line-height: 40px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 47.400001525878906px;
  --space-grotesk-bold-upper-line-height: 48px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 47.599998474121094px;
  --space-grotesk-bold-upper-line-height: 43.2px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 59.099998474121094px;
  --space-grotesk-bold-upper-line-height: 51px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 59.400001525878906px;
  --space-grotesk-bold-upper-line-height: 60px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 59.5px;
  --space-grotesk-bold-upper-line-height: 51px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 59.599998474121094px;
  --space-grotesk-bold-upper-line-height: 60px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 71.5999984741211px;
  --space-grotesk-bold-upper-line-height: 72px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 95.0999984741211px;
  --space-grotesk-bold-upper-line-height: 96px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 126.0999984741211px;
  --space-grotesk-bold-upper-line-height: 128px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 126.5999984741211px;
  --space-grotesk-bold-upper-line-height: 128px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 126.80000305175781px;
  --space-grotesk-bold-upper-line-height: 128px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 127.0999984741211px;
  --space-grotesk-bold-upper-line-height: 128px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 127.4000015258789px;
  --space-grotesk-bold-upper-line-height: 128px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 189.89999389648438px;
  --space-grotesk-bold-upper-line-height: 192px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-upper-font-size: 190.5px;
  --space-grotesk-bold-upper-line-height: 192px;
  --space-grotesk-bold-upper-font-weight: 700;
  --space-grotesk-bold-upper-font-style: normal;
  --space-grotesk-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-font-size: 93.19999694824219px;
  --space-grotesk-bold-line-height: 96px;
  --space-grotesk-bold-font-weight: 700;
  --space-grotesk-bold-font-style: normal;
  --space-grotesk-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-font-size: 93.9000015258789px;
  --space-grotesk-bold-line-height: 96px;
  --space-grotesk-bold-font-weight: 700;
  --space-grotesk-bold-font-style: normal;
  --space-grotesk-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-font-size: 70.69999694824219px;
  --space-grotesk-bold-line-height: 72px;
  --space-grotesk-bold-font-weight: 700;
  --space-grotesk-bold-font-style: normal;
  --space-grotesk-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-font-size: 70.9000015258789px;
  --space-grotesk-bold-line-height: 72px;
  --space-grotesk-bold-font-weight: 700;
  --space-grotesk-bold-font-style: normal;
  --space-grotesk-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-font-size: 70px;
  --space-grotesk-bold-line-height: 72px;
  --space-grotesk-bold-font-weight: 700;
  --space-grotesk-bold-font-style: normal;
  --space-grotesk-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --space-grotesk-bold-font-size: 70.5px;
  --space-grotesk-bold-line-height: 72px;
  --space-grotesk-bold-font-weight: 700;
  --space-grotesk-bold-font-style: normal;
  --outfit-black-font-family: Outfit-Black, sans-serif;
  --outfit-black-font-size: 136px;
  --outfit-black-line-height: 125.12px;
  --outfit-black-font-weight: 900;
  --outfit-black-font-style: normal;
  --outfit-black-font-family: Outfit-Black, sans-serif;
  --outfit-black-font-size: 320px;
  --outfit-black-line-height: 320px;
  --outfit-black-font-weight: 900;
  --outfit-black-font-style: normal;
  --outfit-extrabold-font-family: Outfit-ExtraBold, sans-serif;
  --outfit-extrabold-font-size: 22.399999618530273px;
  --outfit-extrabold-line-height: 22.4px;
  --outfit-extrabold-font-weight: 800;
  --outfit-extrabold-font-style: normal;
  --outfit-light-font-family: Outfit-Light, sans-serif;
  --outfit-light-font-size: 16.799999237060547px;
  --outfit-light-line-height: 29.4px;
  --outfit-light-font-weight: 300;
  --outfit-light-font-style: normal;
  --outfit-medium-font-family: Outfit-Medium, sans-serif;
  --outfit-medium-font-size: 16.799999237060547px;
  --outfit-medium-line-height: 29.4px;
  --outfit-medium-font-weight: 500;
  --outfit-medium-font-style: normal;
  --space-mono-bold-upper-font-family: SpaceMono-Bold, sans-serif;
  --space-mono-bold-upper-font-size: 10.399999618530273px;
  --space-mono-bold-upper-line-height: normal;
  --space-mono-bold-upper-font-weight: 700;
  --space-mono-bold-upper-font-style: normal;
  --space-mono-bold-upper-font-family: SpaceMono-Bold, sans-serif;
  --space-mono-bold-upper-font-size: 12.800000190734863px;
  --space-mono-bold-upper-line-height: normal;
  --space-mono-bold-upper-font-weight: 700;
  --space-mono-bold-upper-font-style: normal;
  --space-mono-regular-upper-font-family: SpaceMono-Regular, sans-serif;
  --space-mono-regular-upper-font-size: 8.800000190734863px;
  --space-mono-regular-upper-line-height: normal;
  --space-mono-regular-upper-font-weight: 400;
  --space-mono-regular-upper-font-style: normal;
  --space-mono-regular-upper-font-family: SpaceMono-Regular, sans-serif;
  --space-mono-regular-upper-font-size: 8.800000190734863px;
  --space-mono-regular-upper-line-height: normal;
  --space-mono-regular-upper-font-weight: 400;
  --space-mono-regular-upper-font-style: normal;
  --space-mono-regular-upper-font-family: SpaceMono-Regular, sans-serif;
  --space-mono-regular-upper-font-size: 9.600000381469727px;
  --space-mono-regular-upper-line-height: normal;
  --space-mono-regular-upper-font-weight: 400;
  --space-mono-regular-upper-font-style: normal;
  --space-mono-regular-upper-font-family: SpaceMono-Regular, sans-serif;
  --space-mono-regular-upper-font-size: 10.399999618530273px;
  --space-mono-regular-upper-line-height: normal;
  --space-mono-regular-upper-font-weight: 400;
  --space-mono-regular-upper-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
[data-wwwbehancenet-mode="mode-1"] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-grey-10: #191919;
  --color-grey-41: #696969;
  --color-grey-94: #f0f0f0;
  --color-grey-58: #959595;
  --color-grey-44: #707070;
  --color-black-solid: #000000;
  --color-black-15: rgba(0, 0, 0, 0.15);
  --color-red-50: #ff0033;
  --color-grey-80: #cccccc;
  --color-grey-91: #e8e8e8;
  --color-azure-50: #0088fd;
  --color-blue-50: #003bff;
  --color-blue-33: #001faa;
  --color-grey-93: #ececec;
  --color-grey-97: #f7f7f7;
  --color-red-10: #330000;
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-70: rgba(0, 0, 0, 0.7);
  --color-azure-11: #001e36;
  --color-blue-18: #00005b;
  --color-rose-15: #49021f;
  --color-grey-95: #f1f1f1;
  --color-black-0: rgba(0, 0, 0, 0);
  --color-grey-10-80: rgba(25, 25, 25, 0.8);
  --color-grey-10-65: rgba(25, 25, 25, 0.65);
  --color-grey-9-80: rgba(23, 23, 23, 0.8);
  --color-grey-14: #232323;
  --color-grey-24: #3c3c3c;
  --color-chartreuse-green-37: #65a814;
  --color-grey-83: #d2d3d7;
  --color-azure-16: #0c3645;
  --color-azure-40: #003ecb;
  --color-white-02: rgba(255, 255, 255, 0);
  --color-grey-98: #f9f9f9;
  --color-grey-56: #909090;
  --color-black-65: rgba(0, 0, 0, 0.65);
  --color-grey-69: #afafaf;
  --color-cyan-7: #001d26;
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-35: rgba(0, 0, 0, 0.35);
  --color-black-25: rgba(0, 0, 0, 0.25);
}

[data-htmltodesign-mode="mode-1"] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-grey-2: #050505;
  --color-blue-4: #09090b;
  --color-yellow-50-30: rgba(204, 255, 0, 0.3);
  --color-yellow-50-10: rgba(204, 255, 0, 0.1);
  --color-cyan-50: #00f0ff;
  --color-yellow-50: #ccff00;
  --color-grey-46: #71717a;
  --color-grey-65: #a1a1aa;
  --color-yellow-50-20: rgba(204, 255, 0, 0.2);
  --color-yellow-50-0: rgba(204, 255, 0, 0);
  --color-yellow-10: #283500;
  --color-grey-12: #201f1f;
  --color-black-solid: #000000;
  --color-black-0: rgba(0, 0, 0, 0);
  --color-grey-84: #d4d4d8;
  --color-rose-50: #ff0055;
  --color-grey-10: #18181b;
  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-grey-34: #52525b;
  --color-blue-4-70: rgba(9, 9, 11, 0.7);
  --color-white-02: rgba(255, 255, 255, 0);
  --color-azure-7: #0d1117;
  --color-chartreuse-green-50-43: rgba(162, 255, 0, 0.04);
  --color-chartreuse-green-50-0: rgba(162, 255, 0, 0);
  --color-chartreuse-green-50-6: rgba(162, 255, 0, 0.06);
  --color-grey-96-0: rgba(240, 246, 252, 0);
  --color-grey-96-3: rgba(240, 246, 252, 0.03);
  --color-chartreuse-green-50-4: rgba(162, 255, 0, 0.04);
  --color-chartreuse-green-50: #a2ff00;
  --color-violet-58-35: rgba(124, 58, 237, 0.04);
  --color-violet-58-0: rgba(124, 58, 237, 0);
  --color-azure-31: #484f58;
  --color-grey-96: #f0f6fc;
  --color-grey-58: #8b949e;
  --color-grey-96-6: rgba(240, 246, 252, 0.06);
  --color-chartreuse-green-50-30: rgba(162, 255, 0, 0.3);
}
